<nav>
  <ul class="pager">
    <% if @next_url.nil? %>
      <li class="disabled"><a href="#">Next</a></li>
    <% else %>
      <li><a href="<%= @next_url %>">Next</a></li>
    <% end %>
  </ul>
</nav>
