<%= title "Welcome" %>

<div class="welcome-jumbotron jumbotron text-center">
  <h1 class="welcome-title">
    Hello, Gene!
  </h1>
  <p class="welcome-description">
    An open source, web-based next-generation sequencing data hosting platform.
  </p>
  <p>
    <%= link_to "Learn more", "#", class: "btn btn-primary btn-lg welcome-learnmore-btn", role: "button" %>
  </p>
</div>
