.row-sequence-description {
  margin-bottom: 30px;
}

.panel-subtitle {
  margin-top: 0px;
}

.row-search {
  margin-top: 20px;
  margin-bottom: 30px;
}

.row-operation {
  margin-top: 20px;
}

.row-type-filter {
  margin-left: 0px;
}

.type-filter-title {
  font-weight: bold;
  margin-bottom: 5px;
}