.ws-row-title {
  margin-top: 20px;
}

.ws-list-name {
}

.ws-list-star, .ws-list-member{
  color: grey;
  font-weight: bold;
  padding-right: 10px;
}

.ws-list-operation a {
  padding-left: 6px;
  padding-right: 6px;
  color: inherit;
}

.ws-list-description {
  margin-top: 10px;
  margin-bottom: 15px;
}

#add-member-form {
  padding-top: 20px;
}
