<div class="col-sm-2 text-capitalize">
  <strong>source</strong>
</div>
<div class="col-sm-3 text-capitalize">
  <strong>reference</strong>
</div>
<div class="col-sm-2 text-capitalize">
  <strong>start</strong>
</div>
<div class="col-sm-2 text-capitalize">
  <strong>end</strong>
</div>
<div class="col-sm-1 text-capitalize">
  <strong>strand</strong>
</div>
<div class="col-sm-1 text-capitalize">
  <strong>phase</strong>
</div>
<div class="col-sm-1"></div>
