<div class="col-sm-3 text-capitalize">
  <strong>condition</strong>
</div>
<div class="col-sm-2 text-uppercase">
  <strong>fpkm</strong>
</div>
<div class="col-sm-2">
  <strong>tot_counts</strong>
</div>
<div class="col-sm-2">
  <strong>uniq_counts</strong>
</div>
<div class="col-sm-2">
  <strong>eff_counts</strong>
</div>
<div class="col-sm-1"></div>
